//Variables
$bg: #f1f1f1;
$height: 80px;

//Navbar
.navbar {
    position: fixed;
    height: $height;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    background: $bg;
    width: 100%;
    z-index: 5;

    h1 {
        color: #05070F;
        font-weight: 600;
        // Positioning and Margins here
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    a {
        text-decoration: none;
    }

    #inicio {
        margin-left: 10px;
    }
}

//Navbar data
.user-data {
    position: absolute;
    display: flex;
    right: 10px;

    a {
        text-decoration: none;
    }
}

/* equadris */
.menu {
    position: absolute;
    right: 240px;
}

.logo img {
    background: url(./img/Logo.PNG) no-repeat 50% 50%;
    background-size: contain;
    height: 60px;
    // Positioning and Margins here
    display: block;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
}

/* user-data */
.avatar {
    height: 60px;
    // Positioning and Margins here
    display: block;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: $height / 2 - 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 15px;
}

.username {
    // Positioning and Margins here
    color: black;
    display: flex;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: $height / 2 - 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
}

.coins {
    font-weight: 600;
    // Positioning and Margins here
    display: flex;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: $height / 2 - 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
}

.coin {
    height: 30px;
    // Positioning and Margins here
    display: flex;
    z-index: 6;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

//Menu
#nopage {
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    transition: color 0.3s;
    text-transform: uppercase;
    line-height: 40;
}

#onpage {
    color: #3498DB;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    transition: color 0.3s;
    text-transform: uppercase;
}

#nopage:hover {
    color: #3498DB;
    transition: 0.3s;
}

#onpage:hover {
    text-decoration: underline #3498DB;
    transition: 0.3s;
}

//Responsive (:
.btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;

    span {
        display: block;
        margin: 6px;
        width: 40px;
        height: 3px;
        background: #333333
    }
}

.btn:hover>span {
    background: #3498DB;
    transition: 0.3s;
}

//screen
@media only screen and (max-width : 930px) {
    .menu {
        width: 100%;
        right: 0px;
        top: 80px;
        background: #f1f1f1;
        overflow: hidden;
        max-height: 0;
    }

    .menu a {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    .btn {
        display: block;
        cursor: pointer;
    }

    .show {
        max-height: 500px;
        transition: 0.5s;
    }

    .user-data {
        right: 70px;
    }

    .navbar {
        overflow: visible;
    }

    #nopage {
        line-height: 2;
    }
}

@media only screen and (max-width : 580px) {

    .coins,
    .coin {
        display: none;
        position: absolute;
    }
}

@media only screen and (max-width : 510px) {
    .username {
        display: none;
        position: absolute;
    }
}